version: 2.1
orbs:
  aws-cli: circleci/aws-cli@0.1.22
  hugo: circleci/hugo@0.4.1
jobs:
  deploy:
    docker:
      - image: cibuilds/base
    executor: aws-cli/default
    steps:
      - attach_workspace:
          at: repo
      - checkout
      - run: scripts/deploy.sh
workflows:
  version: 2
  build:
    jobs:
      - hugo/build:
          source: site/
          html-proofer: false
      - deploy:
          context: org-global
          filters:
            branches:
              only: master
          requires:
            - hugo/build
