body {
	font-family: Hack, Menlo, Monaco, Ubuntu Mono, monospace;
  font-size: 14px;
  color: #ddd;
  background: #282923;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6, p, code, kbd, tt, var{
  font-size: 14px;
}

article h1, h2, h3, h4, h5, h6 {
  padding: 40px 0 0 0
}


blockquote {
    border-left: 6px solid #ddd;
    margin: 0;
    padding: 0 20px 0 20px;
    margin: 40px 0 40px 0;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 595px;
  align-items: center;
}

header {
  padding-top: 20px;
  padding-bottom: 40px;
}

footer{
  width: 100%;
  padding-top: 100px;
}

div.site {
  align-items: center;
  width: 100%;
}

a {
  color: #68d8ef;
}

a:hover {
  color: #68e5fd;
}

a:visited {
  color: #53aec3;
}

code {
  color: #ddd;
  background: #333;
}

pre {
  background: #333;
}

.main-menu a, .social-menu a {
    color: #ddd;
}

.main-menu-container {
    margin-top: 0em;
}

nav {
  width: 100%;
}

nav ul {
  padding: 0 0 100px 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  text-transform: lowercase;
}

.entry-header {
  padding-bottom: 20px;
}

.prev-entry {
  padding-bottom: 20px;
}

.title {
    margin-bottom: 0px;
    text-transform: none;
    color: #ddd;
    padding-bottom: 0;
}

.type-posts .list-header{
  margin-bottom: 20px;
}

main {
  width: 100%
}

div.meta {
  padding-right: 10px;
}

.list-item-header h3, header{
  padding: 0;
  margin: 0;
}

article li {
  list-style-type: square;
}


.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0;
    padding:0;
    list-style: none;
}

.list-item article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

/* 
 Hack Font
*/

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bold-subset.woff2?sha=3114f1256') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-italic-subset.woff2?sha=3114f1256') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bolditalic-subset.woff2?sha=3114f1256') format('woff2');
  font-weight: 700;
  font-style: italic;
}