body {
	font-family: Hack, Menlo, Monaco, Ubuntu Mono, monospace;
  font-size: 14px;
  color: #ddd;
  background: #222;
}

.title, h1, h2, h3, h4, h5, h6 {
  font-family: Hack, Menlo, Monaco,Ubuntu Mono, monospace;
  font-size: 14px;
}

header#header {
  padding-top: 20px;
  padding-bottom: 120px;
}

.header:after {
     margin-top: 0em; 
     margin-bottom: 0em; 
}

footer#footer {
  padding-top: 120px;
}

.entry .meta span {
    font-size: 14px;
    font-style: inherit;
}

.entry .meta {
    margin-top: .05em;
}

div.header.entry-header {
  padding-bottom: 40px;
}

a {
  color: #fff;
  border-bottom: .05em solid #ddd;
}

a:hover {
  color: #999;
}

a:visited {
  color: #eee;
}

.entry-content a:hover {
    color: #999;
    border-bottom: .05em solid #999;
}

.entry-content a {
  color: #fff;
  border-bottom: .05em solid #ddd;
}

code, kbd, tt, var {
    font-family: Hack, Menlo, Monaco,Ubuntu Mono, monospace;
    font-size: 14px;
}

.comments-container #disqus_thread:before, .entry+.home-sections-container .home-sections:before, .entry-nav:before, .footer:before, .header:after, .home-section+.home-section:before, .prev-entry~.next-entry:before {
    content: "";
    display: block;
    border-bottom: none;
}


code {
  color: #ddd;
  background: #333;
}

pre {
  background: #333;
}

.main-menu a, .social-menu a {
    color: #ddd;
}

.main-menu-container {
    margin-top: 0em;
}

.main-menu li {
  font-size: 14px;
  display: inline-block;
  text-transform: lowercase;
}

.main-menu li.logo a {
  border-bottom: none;
}

.main-menu a:hover {
  border-bottom: none;
  color: #999;
}

.main-menu li.site-title {

}

.header-info .title {
    margin-bottom: 0;
    text-transform: none;
    color: #ddd;
}


.entry-nav>div a {
    display: table;
    font-style: italic;
}

/* 
 Hack Font
*/

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-regular.woff2?sha=e700a30') format('woff2'), url('fonts/hack-regular.woff?sha=e700a30') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bold.woff2?sha=e700a30') format('woff2'), url('fonts/hack-bold.woff?sha=e700a30') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-italic.woff2?sha=e700a30') format('woff2'), url('fonts/hack-italic.woff?sha=e700a30') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bolditalic.woff2?sha=e700a30') format('woff2'), url('fonts/hack-bolditalic.woff?sha=e700a30') format('woff');
  font-weight: 700;
  font-style: italic;
}